# {{ ansible_managed }}

[DEFAULT]
debug = {{ mistral_debug }}
use_journal = True
transport_url = {{ mistral_oslomsg_rpc_transport }}://{% for host in mistral_oslomsg_rpc_servers.split(',') %}{{ mistral_oslomsg_rpc_userid }}:{{ mistral_oslomsg_rpc_password }}@{{ host }}:{{ mistral_oslomsg_rpc_port }}{% if not loop.last %},{% else %}/{{ mistral_oslomsg_rpc_vhost }}{% if mistral_oslomsg_rpc_use_ssl | bool %}?ssl=1{% else %}?ssl=0{% endif %}{% endif %}{% endfor %}

[api]
allow_action_execution_deletion = True

[database]
connection = mysql+pymysql://{{ mistral_galera_user }}:{{ mistral_galera_password }}@{{ mistral_galera_address }}/{{ mistral_galera_database }}?charset=utf8

[keystone_authtoken]
auth_type = password
insecure = {{ keystone_service_internaluri_insecure | bool }}
auth_url = {{ keystone_service_adminuri }}
www_authenticate_uri = {{ keystone_service_publicuri }}/v3
project_domain_id = {{ mistral_service_project_domain_id }}
user_domain_id = {{ mistral_service_user_domain_id }}
project_name = {{ mistral_service_project_name }}
username = {{ mistral_service_user_name }}
password = {{ mistral_service_password }}
region_name = {{ keystone_service_region }}
memcached_servers = {{ memcached_servers }}
memcache_security_strategy = ENCRYPT
memcache_secret_key = {{ memcached_encryption_key }}
